services:
  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    restart: always
    env_file: .env
    volumes:
      - db_data:/var/lib/mysql
    networks: 
      - inception
    expose:
      - "3306"
    healthcheck:
      test: ["CMD", "mariadb-admin", "ping", "-h", "localhost", "--silent", "-P", "3306"]
      interval: 5s
      retries: 5

  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    restart: always
    depends_on:
      mariadb:
        condition: service_healthy
    env_file: .env
    volumes:
      - wp_data:/var/www/html
    networks:
      - inception
    expose :
    - "9000"
    healthcheck:
      test: ["CMD", "test", "-f", "/var/www/html/index.php"]
      interval: 5s
      retries: 10
  
  nginx:
    build: ./requirements/nginx
    container_name: nginx
    restart: always
    ports:
      - "443:443"
    depends_on:
      wordpress:
        condition: service_healthy
    volumes:
      - wp_data:/var/www/html
    networks: 
      - inception
    expose:
      - "443"

networks:
  inception:
    driver: bridge

volumes:
  wp_data:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/home/meel-war/data/wordpress'
  db_data:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/home/meel-war/data/mariadb'